html {
  font-size: 100px;
}
body {
	margin: 0;
	font-family: sans-serif;
	min-height: 100vh;
	background-color: #282828;
	background-attachment: fixed;
	text-align: center;
}

.arrow {
	width: 250px;
	overflow: hidden;
	transition: all 0.2s;
	transform: rotate(0deg);
	display: inline-block;
	margin: 0 auto;
}

h1 {
	color: white;
	font-weight: 100;
	font-size: 60px;
	text-align: center;
	margin: 0 auto;
}
/*Compass: https://thenounproject.com/search/?q=compass&i=592352*/